*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	background-image: url(../img/bg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.815);
}

.box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	background: rgb(0, 0, 0, 0.9);
	box-shadow: 0px 0px 22px #000;
	text-align: center;
	border-radius: 20px;
}

.box h1{
	color: #ff00b2;
}

.box span{
	color: #ff7ad7;
}

.box img{
	width: 150px;
	padding: 1rem;
}

.box input[type="text"],.box input[type="password"]{
	display: block;
	margin: 1.5rem auto;
	padding: 1rem;
	width: 250px;
	background: none;
	outline: none;
	border: 2px solid #ff00b2;
	text-align: center;
	border-radius: 5px;
	transition: 0.25s;
	color: #fff;
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
	width: 280px;
	border-color: #ff7ad7;
}

.box input[type="submit"]{
	display: block;
	margin: 1.5rem auto;
	padding: .6rem .9rem;
	background: none;
	outline: none;
	border: 2px solid #ff00b2;
	text-align: center;
	border-radius: 5px;
	color: #fff;
}

.box input[type="submit"]:hover{
	color: #000;
	font-weight: 600;
	background: #ff7ad7;
	border-color: #ff7ad7;
	transition: 0.5s;
}